<div class="navigation-container">
    <div class="head-name">
        <h1>{% if projectName %}
                Backend - {{ projectName }}
            {% else %}
                Backend
            {% endif %}
        </h1>
        <h2>{{ title }}</h2>
    </div>

    <div class="navigation">
        <div class="navigation-dashboard {% if page is same as ('dashboard') %}active{% endif %}">
            <a href="{{ route('dashboard') }}">Dashboard</a>
        </div>

        <div class="navigation-news {% if page is same as ('news') %}active{% endif %}">
            <a href="{{ route('news') }}">News</a>
        </div>

        <div class="navigation-galery {% if page is same as ('galery') %}active{% endif %}">
            <a href="{{ route('galery') }}">Galerie</a>
        </div>

        <div class="navigation-settings {% if page is same as ('settings') %}active{% endif %}">
            <a href="{{ route('settings') }}">Einstellungen</a>
        </div>
    </div>

    <div class="logout">
        <a href="{{ route('logout') }}">Logout</a>
    </div>
</div>