<div class="page-dashboard">
    <div class="backend-container">
        {% if newsCount > 0 %}
            <h3>{{ newsCount }}</h3>
            <p>News geschrieben</p>

            {% if lastNews %}
                <p>Letzte News geschrieben: {{ lastNews.getCreated }}</p>
            {% endif %}
        {% else %}
            <p>Noch keine News vorhanden</p>
        {% endif %}

        <a href="{{ route('news') }}">News verwalten</a>
    </div>

    <div class="backend-container">
        {% if galeries %}
            <h3>{{ galeryCount }}</h3>
            <p>Galerien gibt es bereits</p>
            
        {% else %}
            <p>Es gibt noch keine Galerien</p>
        {% endif %}

        <a href="{{ route('galery') }}">Galerien verwalten</a>
    </div>
</div>
